html{
    font-size: 10px;;
}
body{
  @extend %font-prim;
  color: $color-h;
}
h1{
  letter-spacing: 0.2rem;
  @include font($size:3.2rem, $height: 3.5rem);
  margin: 0;

}
h2{
    @include font($size:4.4rem, $height: 6.7rem,$weight:normal);
    color:$color-light-text;
    margin: 0;
    @include media-mobilesmall{
      font-size: 2.5rem;
     }
  }
  h3{
    @include font($size:3.5rem, $height: 130%);
    margin:0;
    @include media-mobilesmall{
      font-size: 2.5rem;
     }
  }
  h4{
    @include font($size:2rem, $height: 2.3rem)
  }
  h5{
    @include font($size:1.5rem, $height: 1.6rem)
  }