html{
    font-size: 10px;;
}
body{
  @extend %font-prim
}
h1{
  letter-spacing: 6%;
  @include font($size:3.2rem, $height: 3.5rem);
  margin: 0;

}
h2{
    @include font($size:4.4rem, $height: 6.7rem,$weight:normal);
    color:$color-light-text;
    margin: 0;

  }
  h3{
    @include font($size:3.5rem, $height: 4.5rem)
  }
  h4{
    @include font($size:2rem, $height: 2.3rem)
  }
  h5{
    @include font($size:1.5rem, $height: 1.6rem)
  }