$color-bg-darck:  url(../../img/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;;
$color-bg-light:#F6F6F6;
$color-primary:#FDDCC4;
$color-primary-dark:#F1CDB3;
$color-text:#B2B2B2;
$color-h:#545454;
$color-textBtn:#292929;
$color-light-text:#ffffff;
$color-linked:#FAFAFA;
$color-link:#CDCDCD;


$content-width:1276px;