.help__wrapper{
    display: flex;
justify-content: center;
    flex-direction: column;
    align-items: center;
}
.help__title{
    max-width: 308px;
    text-align: center;
    align-items: center;
}
