.help{
    display: flex;
justify-content: center;
    flex-direction: column;
    align-items: center;

    padding-bottom: 100px;
    padding-top: 80px;

}
.help__title{
    max-width: 308px;
    text-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 60px;
}
